@import "@{templateCommon}/basekit-bootstrap.less";

// Mixins

.appearance(@appearance: none) {
    -webkit-appearance: @appearance;
    -moz-appearance: @appearance;
    appearance: @appearance;
}

// TEMPLATE STYLES

body {
    background-color: @color-swatch3;
    background-image: image("/images/bg.png");
    background-repeat: repeat;
    margin: 0;
    padding: 50px 0;

    @media @tablet {
        padding: 30px 0;
    }

    @media @mobile {
        margin: 0;
    }
}

.wrapper {
    width: 100%;
}

// CUSTOM CSS

.main {
    padding: 5%;

    @media @tablet {
        padding: 5%;
    }
}

.canvas {
    z-index: 100;
    background-color: @color-swatch1;
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: 0px;
    box-shadow: 0 0 20px rgba(110, 110, 110, 0.1);
    
    @media @tablet {
        z-index: 100;
    }

    @media @mobile {
        box-shadow: none;
        width: 100%;
        margin: 0;
    }
}

section {
    &.page {
        @media @tablet {
            padding: 0 40px;
        }
    }

    &.intro {
        @media @tablet {
            padding: 50px 0;
        }
    }
}

.transition (@prop: all, @time: 0.5s, @ease: ease) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

h1, h2, h3, h4, h5, h6,
[class*="contentgroup__h"],
.blog-post-item .blog-post-title a,
.contactform label, .advancedcontactform label,
a,
[data-name="content"] a:not(.contentgroup__link) {
    word-break: break-word;

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
}

h1 {
    @media @mobile {
        font-size: bkscale(@font-swatch1-font-size, 0.8);
    }
}

h2 {
    @media @mobile {
        font-size: bkscale(@font-swatch2-font-size, 0.8);
    }
}

h3 {
    @media @mobile {
        font-size: bkscale(@font-swatch3-font-size, 0.8);
    }
}

h4 {
    @media @mobile {
        font-size: bkscale(@font-swatch4-font-size, 0.8);
    }
}

h5 {
    font-family: @font-swatch4-font-family;
    font-size: @font-swatch5-font-size;
    font-weight: @font-swatch4-font-weight;
    line-height: @font-swatch4-line-height;
    color: @font-swatch4-color;
    letter-spacing: @font-swatch4-letter-spacing;
}

p,
ul, ol, li,
label,
.contentgroup__body,
.contactform label, 
.advancedcontactform label,
.widget.twitter .twitter-content p,
.widget.twitter .twitter-content p a,
.widget.twitter .twitter-content p a:hover,
.twitter ul > li a:hover,
.signupform label,
.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
select,
blockquote,
blockquote:before {
    font-family:@font-swatch5-font-family;
    font-weight: @font-swatch5-font-weight;
    color:@font-swatch5-color;
    line-height:@font-swatch5-line-height;
    letter-spacing: @font-swatch5-letter-spacing;
    font-size: @font-swatch5-font-size;
    word-break: break-word;

    .style--light & {
        color: fade(@contrast--light, 75%);
    }

    .style--accent & {
        color: fade(@contrast--accent, 75%);
    }

    .style--dark & {
        color: fade(@contrast--dark, 75%);
    }
}

blockquote {
    background-color: @color-swatch1;
    font-family: @font-swatch2-font-family;
    color: @font-swatch2-color;
    font-style: italic;
    padding: 0;

    .style--light &,
    .style--accent &,
    .style--dark & {
        background-color: transparent;
    }

    .style--light & {
        color: @contrast--light;
    }

    .style--accent & {
        color: @contrast--accent;
    }

    .style--dark & {
        color: @contrast--dark;
    }
    
    &:before {
        display: none;
        content: open-quote;
        color: @color-swatch3;
        font-family: @font-swatch4-font-family;
        font-size: 40px;
        position: absolute;
        left: 10px;
        top: 18px;
    }
}

// HEADER and FOOTER
   
header.bk-header {
    padding: 0px;
    width: 100%;
    background-color: @color-swatch1;
    padding: 44px 0 0;

    @media @tablet {
        padding: 30px 0px 20px;
    }

    @media @mobile {
        padding: 20px 0px 10px;
    }
    
    .header-wrap {
        align-items: flex-end;
        padding: 10px 5% 44px;
        
        @media @tablet {
            padding: 0 0 20px;
        }

        @media @mobile {
            padding: 0px 0 0;
        }

        .widget.profile {
            @media @tablet {
                display: none;
            }
        }
    }
    
    .responsivecolumns .columns-three-33-34-33 .columns-three-left,
    .columns-three-33-34-33 .columns-three-right {
        @media @mobile {
            display: none;
        }
    }

    .responsivecolumns .columns-three-middle,
    .columns-three-33-34-33 .columns-three-middle {
        @media @mobile {
            margin-bottom: 10px;
        }
    }
}

footer.wrapper {
    background-color: @color-swatch1;
    border-top: 1px solid darken(@color-swatch2, 5%);
    margin-top: 3em;
    color: @color-swatch1;
    padding: 20px 5% 44px;
    
    h1,
    h2,
    h3,
    h4 {
        padding-bottom: 30px;
    }
    
    h2 {
        font-size: bkscale(@font-swatch2-font-size, 0.7);
    }
}

header.bk-header,
footer {
    .header-wrap,
    &.wrapper {
        display: flex;
        justify-content: space-between;

        @media @tablet {
            flex-direction: column;
        }

        .widget.profile {
            flex: 1;
            padding: 2px 0;

            &:first-child,
            &:last-child {
                @media @tablet {
                    text-align: center;
                }
            }
            
            &:first-child {
                text-align: left;
            }
            
            &:last-child {
                text-align: right;
            }
        }
        
        .companyheader {
            flex: 1;
            display: block;
            padding: 0;
            width: auto;

            @media @tablet {
                flex: none;
                width: 100%;
                padding: 0 5%;
            }
        }
        
        .widget.profile:not(.bk-tpl-hidden) + .companyheader {
            flex: none;
        }
        
        .widget.profile.bk-tpl-hidden + .companyheader + .widget.profile {
            flex: 10;
        }
        
        .widget.profile.bk-tpl-hidden + .companyheader + .widget.profile.bk-tpl-hidden {
            flex: 1;
        }
    }

    .widget.profile span {
        letter-spacing: 1px;
        font-size: 12px;
    }
}

// COMPANY NAME

.widget.companyname {
    width: 100%;
    text-align: center;

    a {
        padding: 0 0 10px;
        text-align: center;
        white-space: nowrap;

        @media @tablet {
            white-space: normal;
        }
        
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }
}

// LOGO

.widget.logo img {
    max-width: 100%;
    display: block;
    margin: 0 auto 5px;
}

// LANGUAGE SELECTOR

@language-padding: 0.5em;
@language-line-height: @font-swatch7-line-height;

// General styles

.language-selector {
    &.language-selector--horizontal,
    &.language-selector--dropdown {
        z-index: 200;
        position: relative;
        box-sizing: content-box;
        max-width: 1280px;
        width: 90%;
        margin: 0 auto;

        @media @mobile {
            width: 100%;
        }
    }

    &.language-selector--light {
        background-color: @color-swatch1;
        box-shadow: 0 0 20px rgba(110, 110, 110, 0.1);

        @media @mobile {
            box-shadow: none;
        }
    }

    &.language-selector--dark {
        background-color: @font-swatch7-background-color;
        box-shadow: 0 0 20px rgba(110, 110, 110, 0.2);

        @media @mobile {
            box-shadow: none;
        }
    }

    &.language-selector--dropdown {
        height: auto;
        text-align: left;
    }

    .language-selector__inner,
    .language-selector__list,
    .language-selector__item,
    .language-selector__link,
    .language-selector__name,
    .language-selector__localised-name {
        font-family: @font-swatch7-font-family;
        font-size: @font-swatch7-font-size;
        font-weight: @font-swatch7-font-weight;
        line-height: @language-line-height;
        letter-spacing: @font-swatch7-letter-spacing;
        color: @font-swatch7-color;
    }
}

// Inner

.language-selector__inner {
    .language-selector & {
        box-sizing: content-box;
        padding: @language-padding;
    }

    .language-selector.language-selector--horizontal & {
        padding: @language-padding @language-padding 0;
    }

    .language-selector.language-selector--dropdown & {
        &:before {
            content: "";
            display: block;
            height: @language-line-height;
        }

        &:after {
            content: "";
            display: block;
            height: @language-padding*2;
        }

        @media @mobile {
            width: 100%;
        }
    }
}

// List

.language-selector__list {
    .language-selector & {
        min-width: auto;
    }

    .language-selector.language-selector--dropdown & {
        box-sizing: border-box;
        margin: @language-padding;
        min-width: auto;
        max-width: ~"calc(100% - 1em)";

        @media @tablet {
            margin: 0;
            padding: @language-padding;
            max-width: 100%;
        }

        @media @mobile {
            width: 100%;
        }
    }

    .language-selector.language-selector--dropdown.language-selector--flag & {
        @media @mobile {
            width: auto;
        }
    }
}

// Item

.language-selector__item {
    .language-selector.language-selector--light &,
    .language-selector.language-selector--dark & {
        cursor: pointer;
        position: relative;
        border: none;
        background-color: transparent;
        width: auto;
        max-width: 100%;

        .language-selector--horizontal& {
            margin: 0 0 @language-padding @language-padding;
        }
    }

    // Link Color

    .language-selector.language-selector--horizontal & {
        .language-selector--light& {
            background-color: @font-swatch7-background-color;

            &:hover {
                background-color: darken(@font-swatch7-background-color-hover, 10%);
            }

            &--current {
                &,
                &:hover {
                    background-color: darken(@font-swatch7-background-color-hover, 10%);
                }
            }
        }
        
        .language-selector--dark& {
            background-color: darken(@font-swatch7-background-color, 5%);

            &:hover {
                background-color: darken(@font-swatch7-background-color-hover, 5%);
            }

            &--current {
                &,
                &:hover {
                    background-color: darken(@font-swatch7-background-color-hover, 5%);
                }
            }
        }
    }
    
    .language-selector.language-selector--dropdown & {
        .language-selector--light& {
            &,
            &--current {
                background-color: @font-swatch7-background-color;

                &:hover {
                    background-color: darken(@font-swatch7-background-color-hover, 10%);
                }
            }
        }
        
        .language-selector--dark& {
            &,
            &--current {
                background-color: darken(@font-swatch7-background-color, 5%);

                &:hover {
                    background-color: darken(@font-swatch7-background-color-hover, 5%);
                }
            }
        }
    }

    // Current Item

    &--current {
        &:before {
            .language-selector.language-selector--dropdown & {
                position: absolute;
                content: "\25be";
                top: 50%;
                right: -1px;
                margin-top: -(@language-line-height / 4);
                width: @language-padding*4;
                background-color: transparent;
                line-height: @language-line-height / 2;
                font-size: fade(@color-swatch7, 20%);
                color: fade(@color-swatch7, 20%);
                text-align: center;
            }
        }
        
        &:after {
            .language-selector.language-selector--dropdown & {
                position: absolute;
                content: "\25be";
                top: 50%;
                right: 0;
                margin-top: -(@language-line-height / 4);
                width: @language-padding*4;
                background-color: transparent;
                line-height: @language-line-height / 2;
                font-size: @font-swatch7-font-size;
                color: @font-swatch7-color;
                text-align: center;
            }
        }
    }
}

// Link

.language-selector__link {
    .language-selector & {
        box-sizing: border-box;
        padding: 0 @language-padding*2;
        border: none;
        hyphens: auto;
    }

    // Horizontal - Item

    .language-selector.language-selector--horizontal & {
        text-align: right;
        display: inline-block;
    }

    // Dropdown - Item

    .language-selector.language-selector--dropdown & {
        padding-right: @language-padding*4;
    }

    // Link Color

    .language-selector.language-selector--horizontal &,
    .language-selector.language-selector--horizontal .language-selector__item--current &,
    .language-selector.language-selector--dropdown &,
    .language-selector.language-selector--dropdown .language-selector__item--current & {
        .language-selector--light&,
        .language-selector--dark& {
            &,
            &:hover {
                background-color: transparent;
            }
        }
    }
}

// Icon

.language-selector__icon {
    .language-selector & {
        margin-right: 0;
        padding: @language-padding 0;
        min-height: @language-line-height;
        box-sizing: content-box;
        line-height: @language-line-height;
    }
    
    .language-selector.language-selector--flag-text & {
        margin: 0;
    }
    
    .language-selector.language-selector--dropdown.language-selector--flag-text & {
        float: left;
        box-sizing: border-box;
        line-height: @language-line-height;
    }
}

// Name

.language-selector__name,
.language-selector__localised-name {
    .language-selector & {
        -webkit-font-smoothing: auto;
        -moz-osx-font-smoothing: auto;
        font-smooth: auto;
        text-rendering: auto;
    }

    .language-selector & {
        text-shadow: 0 1px 1px fade(@color-swatch7, 20%);
    }

    .language-selector.language-selector--flag-text & {
        display: inline-block;
        padding: @language-padding 0 @language-padding @language-padding;
    }
    
    .language-selector.language-selector--text &,
    .language-selector.language-selector--flag & {
        padding: @language-padding 0;
    }
    
    .language-selector.language-selector--text & {
        display: block;
    }

    .language-selector.language-selector--dropdown & {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        .language-selector--flag-text& {
            @media only screen and (max-width: 380px) {
                display: none;
            }
        }
    }
}

// EXTENDED NAVIGATION

.widget.navigation,
.widget.extendednavigation {
    border-top: 1px solid darken(@color-swatch1, 5%);
    .clearfix;

    @media @tablet {
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin-top: 0;
        border-top: 0;
    }
    
    .extendednavigation {
        @media @tablet {
            display: block;
            float: left;
            padding: 14px 0;
            width: 100%;
        }
    }

    body.edit & {
        overflow: visible;
    }

    .bk-overlay {
        @media @tablet {
            left: 0 !important;
            margin: 0 auto;
        }
    }
    
    ul {
        width: 100%;

        @media @tablet {
            padding-top: 0;
            margin-top: 20px;
        }
        
        li {
            float: none;
            display: inline-block;

            @media @tablet {
                width: 100%;
                text-align: center;
            }
            
            > ul {
                @media @tablet {
                    display: none !important;
                }
            }

            &:first-child {
                @media @tablet {
                    border-top: 1px solid darken(@color-swatch2, 5%);
                    margin-top: 20px;
                }
            }

            a,
            &.folder .text {
                display: block;
                padding: 16px 30px;
                margin: 0;
                font-family: @font-swatch6-font-family;
                font-size: @font-swatch6-font-size;
                font-weight: @font-swatch6-font-weight;
                color: @font-swatch6-color;
                line-height: @font-swatch6-line-height;
                letter-spacing: @font-swatch6-letter-spacing;

                @media @tablet {
                    padding: 12px;
                }
            }

            a:hover,
            &.selected a,
            &.folder:hover {
                background-color: @font-swatch6-background-color-hover;
                text-decoration: none;
            }

            &:hover,
            &.selected a,
            &.folder .text:hover {
                color: @font-swatch6-color-hover;
            }

            &:hover {
                color: @color-swatch3;

                > ul {
                    display: block;
                    width: 186px;
                    position: absolute;
                    background-color: @font-swatch6-background-color;
                    z-index: 500;
                    margin-top: 0;
                    
                    @media @tablet {
                        display: block !important;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        border-top: 1px solid @color-swatch3;
                    }
    
                    > li {
                        display: block;
                        width: 100%;
                        text-align: left;

                        &:first-child {
                            @media @tablet {
                                margin-top: 0;
                                padding-top: 0;
                            }
                        }
    
                        a {
                            padding: 0;
                            color: red !important;
            
                            &:hover {
                                color: @color-swatch3;
                            }
        
                            .text {
                                margin-left: 0;
                                color: @color-swatch5;
                            }
                        }
                    }
                }
            }
            
            &.folder {
                &:after {
                    top: 46%;
                    right: 10%;
                    @media @tablet {
                        right: 0;
                    }
                }
            }
            
            @media @tablet {
                padding: 0;
            }
        }
    }
    
    a.pull {
        display: block;
        margin: 0 auto;
        left: 0;
        top: 0;
        
        &:after {
            left: 0;
            margin: 0 auto;
        }
    }
}

// FEATURE

.widget.feature  {
    .feature-bgimg {
        height: 600px;

        @media @tablet {
            height: 350px;
        }

        @media @mobile {
            height: 260px;
        }

        .content {
            text-align: center;
            height: 600px;

            @media @tablet {
                height: 350px;
                padding: 20px;
            }
            
            @media @mobile {
                height: 260px;
            }
    
            .spare {
                padding: 0 5% 40px;
            }
        
            button {
                @media @mobile {
                    left: 0;
                    width: 100%;
                }

                &.btn {
                    height: auto;
                    padding: 10px 25px;

                    @media @mobile {
                        margin-top: 25px;
                    }
                    
                    span {
                        vertical-align: inherit;
                    }
                }
            }
        }
    }

    // Title

    h2 {
        margin: 100px 10% 10px;
        padding: 30px 40px;
        font-family: @font-swatch8-font-family;
        font-size: @font-swatch8-font-size;
        font-weight: @font-swatch8-font-weight;
        line-height: @font-swatch8-line-height;
        color: @font-swatch8-color;
        letter-spacing: @font-swatch8-letter-spacing;
        text-shadow: 0px 1px 1px fade(@color-swatch1, 20%);
        background-color: fade(@color-swatch1, 30%);
        
        @media @tablet {
            margin: 30px 5% 10px;
            padding: 20px 30px;
            font-size: bkscale(@font-swatch8-font-size, 0.5);
            line-height: bkscale(@font-swatch8-line-height, 0.6);
        }
        
        @media @mobile {
            margin: 10px 5% 10px;
        }
        
        span {
            padding: 5px 20px 10px;
        }
    }

    // Strapline

    h3 {
        font-family: @font-swatch9-font-family;
        font-size: @font-swatch9-font-size;
        font-weight: @font-swatch9-font-weight;
        line-height: @font-swatch9-line-height;
        color: @font-swatch9-color;
        letter-spacing: @font-swatch9-letter-spacing;
        padding: 10px 0 0;
        text-shadow: 0px 1px 1px fade(@color-swatch1, 20%);

        @media @tablet {
            font-size: bkscale(@font-swatch9-font-size, 0.9);
            line-height: bkscale(@font-swatch9-line-height, 0.8);
        }
    }
    
    // Button

    button {
        margin: 2em 0 0;
        padding: 12px 18px;
        border: 0;
        font-family: @font-swatch7-font-family;
        font-size: @font-swatch7-font-size;
        font-weight: @font-swatch7-font-weight;
        background-color: @font-swatch7-background-color;
        color: @font-swatch7-color;
        letter-spacing: @font-swatch7-letter-spacing;
        text-decoration: none;
        text-shadow: 0 1px 1px fade(@color-swatch7, 20%);

        @media @tablet {
            font-size: @font-swatch7-font-size;
            padding: 12px 18px;
            margin-top: 10px;
        }

        @media @mobile {
            margin: 1.5em 0 0;
        }

        &:hover {
            background-color: @font-swatch7-background-color-hover;
            cursor: pointer;
        }

        span {
            @media @tablet {
                vertical-align: inherit;
            }
        }
    }
}

// BUTTON

.widget.button button,
.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn {
    padding: 0 24px;
    margin: 0;
    border: 0;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    letter-spacing: @font-swatch7-letter-spacing;
    
    &:hover {
        cursor: pointer;
    }
}

.widget.clicktocall a {
    @media @mobile {
        background-color: @font-swatch7-background-color;
        color: @font-swatch7-color;
        text-shadow: 0 1px 1px fade(@color-swatch7, 20%);
    }

    .style--light & {
        @media @mobile {
            background-color: @color--accent;
            color: @contrast--accent;
            text-shadow: 0 1px 1px fade(@color--accent, 20%);
        }
    }

    .style--accent & {
        @media @mobile {
            background-color: @color--dark;
            color: @contrast--dark;
            text-shadow: 0 1px 1px fade(@color--dark, 20%);
        }
    }

    .style--dark & {
        @media @mobile {
            background-color: @color--accent;
            color: @contrast--accent;
            text-shadow: 0 1px 1px fade(@color--accent, 20%);
        }
    }

    &:hover {
        @media @mobile {
            background-color: @font-swatch7-background-color-hover;
            .transition(all, 0.5s, ease);
        }

        .style--light & {
            @media @mobile {
                background-color: darken(@color--accent, 10%);
            }
        }

        .style--accent & {
            @media @mobile {
                background-color: darken(@color--dark, 10%);
            }
        }

        .style--dark & {
            @media @mobile {
                background-color: darken(@color--accent, 10%);
            }
        }
    }
}

// TWITTER

.widget.twitter {
    img {
        border-radius: 5%;
    }
    
    p {
        color: @color-swatch4;
        padding: 0;
    }
    
    ul li a:hover {
        text-decoration: none;
    }
    
    li:last-child {
        padding-bottom: 0;
    }
    
    // Tweet Content
    
    .twitter-profile-pic {
        float: none;
        display: inline-block;
        vertical-align: top;
        width: 12%;
        margin-right: 1%;
        
        @media @tablet {
            width: 100%;
            margin-right: 0;
        }
    }
    
    .twitter-content {
        float: none;
        display: inline-block;
        width: 85%;
        
        span.bk-full-name {
            color: @font-swatch4-color;
            font-family: @font-swatch4-font-family;
            font-size: @font-swatch4-font-size;
            line-height: @font-swatch4-line-height;

            .style--light & {
                color: @contrast--light;
            }

            .style--accent & {
                color: @contrast--accent;
            }

            .style--dark & {
                color: @contrast--dark;
            }
        }
        
        // Tweet Link
        
        p a {
            color: @color-swatch5;
            font-size: @font-swatch5-font-size;
            line-height: @font-swatch5-line-height;
            text-decoration: none;
        }
        
        a:hover span.bk-full-name {
            color: @font-swatch4-color;

            .style--light & {
                color: @contrast--light;
            }

            .style--accent & {
                color: @contrast--accent;
            }

            .style--dark & {
                color: @contrast--dark;
            }
        }
        
        span a {
            text-decoration: none;
            
            &:hover {
                text-decoration: none;
            }
        }
        
        p {
            color: @color-swatch5;
            margin-top: 4px;
            
            &:last-child {
                font-weight: inherit;
            }
        }
        
        // Extra Info
        
        time {
            display: none;
        }
        
        span,
        span a,
        p:last-child {
            font-size: 13px;
            color: @color-swatch3;
            font-weight: inherit;

            .style--light & {
                color: @color--accent;
            }

            .style--accent & {
                color: @contrast--accent;
            }

            .style--dark & {
                color: @contrast--dark;
            }
            
            &:hover {
                color: darken(@color-swatch3, 15%);

                .style--light & {
                    color: darken(@color--accent, 15%);
                }

                .style--accent & {
                    color: darken(@contrast--accent, 15%);
                }

                .style--dark & {
                    color: darken(@contrast--dark, 15%);
                }
            }
        }
    }
}

// TWITTER

.widget.profile ul.twitter {
    padding: 0px;
    margin: 0px;

    li {
        list-style: none;
    }
    
    img,
    time,
    span {
        display: none;
    }
}

// Line widget

hr.line {
    .style--light & {
        background-color: darken(@color--light, 15%);
    }

    .style--accent & {
        background-color: darken(@color--accent, 15%);
    }

    .style--dark & {
        background-color: lighten(@color--dark, 15%);
    }
}

// Ecommerce

.widget.ecomproductslist {
    .ecom-productslist-products {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        max-width: none;
    
        @media @mobile {
            margin: 0;
            display: block;
        }
    
        .responsivecolumns & {
            margin: 0;
            display: block;
        }
    }

    .productlist-filter {
        width: 100%;
        margin-left: 0;

        .productlist-display-form {
            display: flex;
            flex-wrap: wrap;
            justify-content: stretch;
            margin: 0 0 30px;
    
            @media @mobile {
                display: block;
            }
    
            .responsivecolumns & {
                display: block;
            }
    
            .form-group {
                display: block;
                width: 100%/3;
                margin: 0;
                padding: 0 10px 10px;
                box-sizing: border-box;
    
                @media @mobile {
                    margin: 0;
                    padding: 0 0 10px;
                    width: 100%;
                }
    
                .responsivecolumns & {
                    margin: 0;
                    padding: 0 0 10px;
                    width: 100%;
                }
    
                label {
                    width: 100%;
                    padding: 10px 0 5px;
    
                    &:after {
                        content: ":";
                        display: inline-block;
                        position: relative;
                    }
                }
    
                select {
                    width: 100%;
                }
    
                button {
                    position: relative;
                    vertical-align: top;
                }
    
                &.productlist-search {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
    
                    input#productlist-search,
                    button.btn {
                        height: 45px;
                    }
    
                    input#productlist-search {
                        flex-grow: 1;
                        margin-right: 10px;
    
                        @media @mobile {
                            margin-right: 0;
                            width: 100%;
                        }
    
                        .responsivecolumns & {
                            margin-right: 0;
                            width: 100%;
                        }
                    }
                
                    button.btn {
                        @media @mobile {
                            width: 100%;
                            margin-top: 10px;
                            position: static;
                        }
    
                        .responsivecolumns & {
                            width: 100%;
                            margin-top: 10px;
                            position: static;
                        }
                    }
                }
            }
        }

        .productlist-item-count {
            padding: 0 10px 30px;

            @media @mobile {
                padding: 0 0 30px;
            }

            .responsivecolumns & {
                padding: 0 0 30px;
            }
        }
    }

    .ecom-productslist-product,
	.ecom-featuredproducts-product {
		display: block;
		margin-top: 2em;
		width: 100%/3;
		margin: 0 0 30px;
		margin-bottom: 30px;
		padding: 0 10px;
		overflow: auto;
		
		@media @tablet {
			width: 100%/2;
		}
		
		@media @mobile {
		    padding: 0;
			width: 100%;
		}
	
		.responsivecolumns & {
		    padding: 0;
			width: 100%;
		}
	
		.ecom-productslist-image-wrap,
		.ecom-featuredproducts-image-wrap {
			margin-bottom: 1em;
			background-color: @color-swatch1;
			background-position: center;
	
			@media @mobile {
				background-image: none !important;
				height: auto !important;
	
				img {
					display: block !important;
					max-width: 100%;
				}
			}
		}
    }
}

.widget.ecomproduct .ecom-product {
    .ecom-product-preview-image-wrap {
        text-align: left;
    }

    .ecom-product-go-to-checkout-btn {
        float: left;
        line-height: 40px;
        min-height: 40px;
        padding: 0;
        margin: 0;
        font-weight: 600;
        font-family: @font-swatch7-font-family;
        font-size: @font-swatch7-font-size;
        font-weight: @font-swatch7-font-weight;
        -webkit-font-smoothing: inherit;
        
        &:hover {
            text-decoration: none;
        }
    }
}

// Ecom Basket Summary

.ecombasketsummary a,
.ecombasket .ecombasket-pull p {
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    
    &:hover {
        text-decoration: none;
    }
}

.widget.ecombasketsummary {
    table {
        border-spacing: 0;
        width: 100%;
        list-style: none;
        color: @color-swatch4;
        margin-bottom: 20px;
        margin-top: 10px;
        
        tr:first-child {
            outline: 1px solid darken(@color-swatch1, 10%);
            
            @media @mobile {
                display: table-header-group;
                
                th:nth-child(2) {
                    display: none;
                }
                
                th:nth-child(3) {
                    padding-left: 12px;
                }
            }
        }
        
        th {
            font-family: @font-swatch4-font-size;
            font-size: bkscale(@font-swatch4-font-size, 0.85);
            line-height: bkscale(@font-swatch4-line-height, 0.95);
            text-align: left;
        }

        img {
            @media @mobile {
                max-width: 125px !important;
            }
        }
        
        .basket-summary-items {
            background: transparent;
            
            @media @mobile {
                display: table-row-group;
                
                + tr {
                    display: block;
                }
            }
            
            &:last-child {
                td {
                    padding-bottom: 25px;
                }
            }
            
            .image-wrap {
                background-image: none !important;
            }
            
            td:nth-child(2) {
                padding-left: 15px;
            }
            
            .basket-summary-pricepu,
            .basket-summary-quantity,
            .basket-summary-amount {
                font-size: @font-swatch5-font-size;
                line-height: @font-swatch5-line-height;
            }
            
            .basket-summary-pricepu {
                display: block;
            }
            
            .basket-summary-quantity,
            .basket-summary-quantitybtn {
                display: inline-block;
                
                button {
                    height: auto;
                    line-height: initial;
                }
            }
            
            .basket-summary-quantitybtn {
                margin: 5px 8px 12px;
            }
            
            .quantity-number {
                padding-left: 15px;
                padding-right: 15px;
            }
            
            .basket-summary-amount {
                color: darken(@color-swatch4, 10%);
            }
        }
        
        .basket-summary-subtotal {
            background-color: @color-swatch2;
            color: darken(@color-swatch4, 10%);
            display: inline-block;
            font-size: @font-swatch4-font-size;
            font-weight: 500;
            padding: 20px 15px;

            @media @mobile {
                width: 100%;
            }
            
            .basket-summary-quantitybtn {
                @media @mobile {
                    display: block;
                }
            }
        }
    }
}

.basket-summary-submit,
.basket-summary-empty-cta {
    display: inline-block;
    padding: 8px 12px;
    line-height: 45px;
    height: 45px;
    font-weight: @font-swatch7-font-weight;
}

// TWEET THIS

.widget.tweet {
    padding: 14px 0;

    a {
        background-image: image("/images/social/socialicons-twitter.png");
        background-image: image("/images/social/socialicons-twitter.svg");
        background-size: 22px;
        background-position: 18px center;
        background-repeat: no-repeat;
        padding: 12px 24px 12px 48px;
        margin: 1em 0;

        &:hover,
        &:active {
            cursor: pointer;
        }
    }
}

// PROFILE

.widget.profile {
    span,
    a {
        display: block;
        font-size: @font-swatch5-font-size;
        font-family: @font-swatch5-font-family;
        color: @font-swatch5-color;
        line-height: @font-swatch5-line-height;
        font-weight: @font-swatch5-font-weight;
    }
    
    a:hover {
        color: @color-swatch3;
        text-decoration: none;
    }
}

.bk-profile-address p:after {
    display: none;
}

// FORMS

input,
textarea,
select {
    background-color: @color-swatch1;
    border: 1px solid lighten(@color-swatch5, 12%);
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 0 12px;
    height: 45px;
    line-height: 45px;

    .style--light &,
    .style--accent &,
    .style--dark & {
        background-color: @color--light;
        border-color: fade(@contrast--light, 88%);
        color: @contrast--light;
    }
    
    @media @mobile {
        font-size: bkscale(@font-swatch5-font-size, 0.9);
    }
    
    &:hover,
    &:focus {
        border: 1px solid lighten(@color-swatch5, 3%) !important;
        transition: ease 0.5s border !important;

        .style--light &,
        .style--accent &,
        .style--dark & {
            border-color: fade(@contrast--light, 97%) !important;
        }
    }
}

input {
    @media @mobile {
        width: 100%;
    }
}

textarea {
    height: auto;
}

select {
	padding-right: 2.2em;
    width: 100%;
    .appearance(none) !important;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
    background-repeat: no-repeat;
    background-position: right 0.5em center;
    background-size: 1.2em;

	&::-ms-expand {
		display: none;
	}
	
	option {
        color: black;
        background-color: white;
    }
}

.contactform .option-item--radio,
.contactform .option-item--checkbox,
.advancedcontactform .option-item--radio,
.advancedcontactform .option-item--checkbox {
	label {
		label;
		word-break: break-word;
	}
}

::-webkit-input-placeholder {
    color: @color-swatch5;

    .style--light &,
    .style--accent &,
    .style--dark & {
        color: fade(@contrast--light, 80%);
    }
}
:-moz-placeholder {
    color: @color-swatch5;

    .style--light &,
    .style--accent &,
    .style--dark & {
        color: fade(@contrast--light, 80%);
    }
}
::-moz-placeholder {
    color: @color-swatch5;

    .style--light &,
    .style--accent &,
    .style--dark & {
        color: fade(@contrast--light, 80%);
    }
}
:-ms-input-placeholder {
    color: @color-swatch5;

    .style--light &,
    .style--accent &,
    .style--dark & {
        color: fade(@contrast--light, 80%);
    }
}

button.btn,
.widget.button button,
.widget.tweet a,
.widget.paypalbuynow .widget.button.paypal,
.widget.dropbox button,
.widget.blogsearch button,
.widget.signupform button,
.widget.contactform button,
.widget.contactform button.btn,
.widget.advancedcontactform button,
.widget.advancedcontactform button.btn,
.widget.ecomproduct .ecom-product .btn,
.widget.ecombasket .ecombasket-pull,
.widget.paypalbuynow button,
.widget.tweet a,
.widget.socialicons span a,
a.contentgroup__link {
    background-color: @font-swatch7-background-color;
    border: 0;
    color: @font-swatch7-color;
    font-family: @font-swatch7-font-family;
    font-size: @font-swatch7-font-size;
    font-weight: @font-swatch7-font-weight;
    line-height: @font-swatch7-line-height;
    letter-spacing: @font-swatch7-letter-spacing;
    text-decoration: none;
    text-shadow: 0 1px 1px fade(@color-swatch7, 20%);
    padding: 8px 14px;
    min-height: 45px;

    .style--light & {
        background-color: @color--accent;
        color: @contrast--accent;
        text-shadow: 0 1px 1px fade(@color--accent, 20%);
    }

    .style--accent & {
        background-color: @color--dark;
        color: @contrast--dark;
        text-shadow: 0 1px 1px fade(@color--dark, 20%);
    }

    .style--dark & {
        background-color: @color--accent;
        color: @contrast--accent;
        text-shadow: 0 1px 1px fade(@color--accent, 20%);
    }

    &:hover {
        background-color: @font-swatch7-background-color-hover;
        .transition(all, 0.5s, ease);

        .style--light & {
            background-color: darken(@color--accent, 10%);
        }

        .style--accent & {
            background-color: darken(@color--dark, 10%);
        }

        .style--dark & {
            background-color: darken(@color--accent, 10%);
        }
    }
}

.widget.paypalbuynow .widget.button.paypal,
.widget.tweet a,
.widget.dropbox button {
    padding: 0 24px 0 48px;
    text-shadow: 0 1px 1px fade(@color-swatch7, 20%);
}

input.blog-search-input,
.widget.signupform input,
.widget.profile form fieldset input {
    margin-right: 0;
}

button.blog-search-submit-button,
.widget.signupform button,
.widget.profile button {
    vertical-align: top;
}

.widget.paypalbuynow .widget.button.paypal,
.widget.dropbox button {
    background-position: 18px;
}

.widget.paypalbuynow .widget.button.paypal:hover {
    background-color: @font-swatch7-background-color-hover;
    border: none !important;
    .transition(all, 0.5s, ease);
}

.form-group {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactform label,
.advancedcontactform label {
    font-family: @font-swatch5-font-family;
    font-size: @font-swatch5-font-size;
    font-weight: @font-swatch5-font-weight;
    line-height: @font-swatch5-line-height;
    color: @font-swatch5-color;
    margin: 0 0 8px;
    display: inline-block;
}

.widget {
    &.contactform {
        input,
        textarea {
            &.email {
                @media @mobile {
                    width: 100%;
                }
            }
        }

        button.btn {
            @media @mobile {
                width: 100%;
            }
        }
    }

    &.profile {
        form {
            button {
                padding: 8px 12px;
                vertical-align: top;
                width: 20%;
                text-shadow: 0 1px 1px fade(@color-swatch7, 20%);
                
                @media @mobile {
                    left: 0;
                    margin-top: 10px;
                    width: 100%;
                }
            }

            fieldset input {
                background: transparent;
                border: 1px solid lighten(@color-swatch5, 12%);
                width: 79%;
                
                @media @mobile {
                    width: 100%;
                }
            }
        }
    }

    &.signupform fieldset {
        button {
            width: 20%;
            padding: 8px 12px;
            position: relative;
            vertical-align: top;
            padding: inherit;
            
            @media @mobile {
                left: 0;
                margin-top: 10px;
                width: 100%;
            }
        }

        input {
            height: 45px;
            width: 79%;
            
            @media @tablet {
                width: 65%;
            }
            
            @media @mobile {
                width: 100%;
            }
        }
    }

    &.blogsearch {
        margin: 10px 0;

        input {
            width: 79%;
            
            @media @mobile {
                width: 100%;
            }
        }

        button {
            letter-spacing: inherit;
            padding: 8px 12px;
            text-decoration: none;
            position: relative;
            width: 20%;
            vertical-align: top;
            
            @media @mobile {
                margin-top: 10px;
                width: 100%;
            }
        }
    }

    &.button {
        button.btn {
            padding: 0 24px;
        }
    }
}

// Privacy Checkboxes

.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms {
    input[type="checkbox"] {
        opacity: 1;
        margin: 4px 8px 4px 4px;
        padding: 0;
        min-width: auto;
        height: auto !important;
        width: auto !important;
        line-height: 1em;
        -webkit-appearance: checkbox;
        -moz-appearance: checkbox;
        appearance: checkbox;
        min-height: 45px;
    }

    label {
        padding-bottom: 0;

        &:before {
            display: none;
        }

        .form__link {
            font-family: @font-swatch5-font-family;
            font-size: @font-swatch5-font-size;
            font-weight: @font-swatch5-font-weight;
            line-height: @font-swatch5-line-height;
            letter-spacing: @font-swatch5-letter-spacing;
        }
    }
}

// Gallery

.widget.gallery {
    ul li span.inner {
        text-align: center;
        
        .title {
            color: @color-swatch1;
            font-weight: @font-swatch2-font-weight;
            font-size: @font-swatch4-font-size;
            padding-bottom: 10px;
            border-bottom: 1px solid @color-swatch1;
            margin: 70% 10px 10px;
        }
        
        .description {
            color: @color-swatch1;
            margin-top: 10px;
        }
    }

    .inner .image-data {
        background: fade(@color-swatch4, 65%);
        display: block;
        opacity: 0;
        height: 100%;
        top: 0;
        position: absolute;
        width: 100%;
    }
    
    .inner:hover .image-data {
        .transition( opacity, 0.5s, ease );
        opacity: 1;
    }
}

// MAP

.widget.map {
    margin: 20px 0;
}

// SLIDESHOW

.widget.responsiveslideshow {
    .slideshow-image-list,
    .slideshow-widget {
        min-height: 450px;
        
        @media @tablet {
            min-height: 350px;
        }
        
        @media @mobile {
            min-height: 280px;
            height: 280px;
        }
    }
    
    .title {
        display: block;
    }
    
    .content-wrapper {
        background: rgba(0, 0, 0, 0.5);
    }
    
    .slideshow-widget {
        
        // Arrows
        
        .btn-prev,
        .btn-next {
            background-color: transparent;
            background-size: contain;
            width: 35px;
            height: 35px;
            font-size: 0;
            z-index: 11;
            text-indent: -99999px;
            
            @media @tablet {
                width: 40px;
                height: 40px;
            }
            
            @media @mobile {
                width: 30px;
                height: 30px;
            }
        }
        
        .btn-prev {
            background-image: image("/images/slideshow-arrow-left.png");
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .btn-next {
            background-image: image("/images/slideshow-arrow-right.png");
            background-repeat: no-repeat;
            background-position: center;
        }
        
        // Play Button
        
        .btn-play {
            background: rgba(0, 0, 0, 0.5);
            top: 41%;
            width: 50px;
            height: 50px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            
            &:after {
                top: 43%;
                font-size: 20px;
                color: #fff;
                letter-spacing: -2px;
                top: 2px;
                line-height: 47px;
            }
            
            @media @tablet {
                width: 40px;
                height: 40px;
                &:after {
                    line-height: 38px;
                }
            }
            
            @media @mobile {
                width: 30px;
                height: 30px;
                &:after {
                    line-height: 28px;
                }
            }
        }
    }
    
    .slideshow-widget-controls {
        .dot {
            width: 10px;
            height: 10px;
            margin: 5px;

            .style--light & {
                background-color: lighten(@contrast--light, 10%);
            }

            .style--accent & {
                background-color: darken(@contrast--accent, 10%);
            }

            .style--dark & {
                background-color: darken(@contrast--dark, 10%);
            }
            
            &.selected {
                background-color: @color-swatch3;
                border: 0;

                .style--light & {
                    background-color: @color--accent;
                }

                .style--accent & {
                    background-color: @contrast--accent;
                }

                .style--dark & {
                    background-color: @color--accent;
                }
            }
        }
    }
}

// BLOG

.widget.blogpostlist {
    .blog-post-item {
        margin: 0 0 30px;
    }
}

.blogpost,
.blog-post-list {
    .blog-post-feature-image-wrap {
        line-height: 0;
        background-size: cover;
        background-position: center;
        margin: 20px 0 25px;
        width: auto;
        
        img {
            display: none;
        }
    }
    
    h1 {
        font-family: @font-swatch1-font-family;
        font-size: @font-swatch1-font-size;
        line-height: @font-swatch1-line-height;
        padding-bottom: 18px;
    }
}

.blog-post-list {
    .blog-post-feature-image-wrap {
        height: 275px;
    }

    .blog-list-footer {
        background-color: transparent;
        background-image: none;
    }
}

.blogpost {
    .blog-post-feature-image-wrap {
        height: 350px;
    }

    .blog-post-metadata {
        background-color: transparent;
        background-image: none;
        margin-top: 0;
        text-align: left;
    }

    .blog-post-more-link {
        float: left;
        width: 100%;
    }
}

// BLOG SEARCH

.blogsearch {
    form {
        label {
            display: block;
            margin-bottom: 0.6em;
            font-family: @font-swatch4-font-family;
            font-size: @font-swatch4-font-size;
            font-weight: @font-swatch4-font-weight;
            line-height: @font-swatch4-line-height;
            letter-spacing: @font-swatch4-letter-spacing;
            width: 100%;
        }
    }
}

// MENU

.widget.menu {
    margin: 20px 0;
    
    h4,
    .menu-item-nutritional-prop {
        font-size: @font-swatch5-font-size;
    }
    
    .menu-header {
        text-align: center;
    }
    
    .menu-items {
        li {
            display: block;
            padding: 20px 0;
            
            .inner-item {
                display: block;
                padding: 0;
                margin: 0;
            }
            
            &.menu-item-promoted {
                padding: 30px;
                border: 1px solid darken(@color-swatch2, 5%);
            }
        }
        
        .menu-item-image-wrap {
            height: 200px;
            background-size: cover;
            background-position: center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            clear: both;
            background-repeat: no-repeat;
            background-position: center;
            
            img {
                display: none;
            }
        }
    }
    
    .menu-item-price {
        padding: 10px 0;
        
        p {
            padding: 0;
        }
    }

    .menu-section-item-dietary-props {
        .dietary-icon {
            background-color: @color-swatch3;
            text-transform: uppercase;
            font-size: bkscale(@font-swatch5-font-size, 0.8);
            color: @color-swatch1;
            padding: 0px 10px;
        }
    }
    
    // Menu Subsection
    
    .menu-subsection {
        padding: 0;
        margin: 0;
    }
    
    .wrapper {
        width: 100%;
        margin: 0;
    }
}

// FOOTER

footer.bk-footer {
    text-align: center;

    @media @tablet {
        text-align: center;
    }

    @media @mobile {
        margin-top: 0;
        padding: 1em 5%;
    }

    .widget.profile {
        form fieldset input {
            width: 100%;
        }

        form button {
            word-break: break-word;
            height: auto;
            width: auto;
            margin: 10px 0;
            line-height: 1.25em;
        }
    }
}